
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
}
/**
 * custom css
 * lwxyfer.com
 */
html {
	width:100%;
	height:100%;
	font-family:'MicroSoft YaHei';
	font-size:100%;
}
body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background: -webkit-linear-gradient(20deg, #accd3a, #2bc792);
}
h1,h2,h3,h4 {
	margin:0px
}
#chat {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	display:flex;
	flex-direction: row;
	align-items:center;
	justify-content:center;
}
#loginbox {
	width:20%;
	text-align:center;
	color:#fff;
}
#loginbox input {
	display:block;
	width:100%;
	line-height: 1.5rem;
	margin-bottom:1rem;
}
#chatroom {
	width:90%;
	height:90%;
}
#msgbox {
	width:100%;
	height:80%;
	display:flex;
	flex-direction:row;
}
#msgbox > div:nth-child(1) {
	width:15%;
	flex:0 0 auto;
	color:#fff;
}
#msgbox > div:nth-child(1) ul{
	list-style-type:none;
	padding:0px;
}
#msgbox > div:nth-child(1) ul li {
	border-left:0.5rem solid #fff;
	padding-left:0.5rem;
	margin-bottom:0.5rem;
}
#msgbox > div:nth-child(2) {
	/*border:3px solid #fff;*/
	width:85%;
	flex:0 1 auto;
	overflow:auto;
}
#msgbox > div:nth-child(2) div {
	display:flex;
	flex-direction:row;
	align-items:flex-start;
}
#msgbox > div:nth-child(2) p {
	background:#fff;
	max-width:90%;
	margin-top:0px;
	display:inline-block;
	padding:0.5rem;
	border-radius:0.3rem;
}
#msgbox > div:nth-child(2) span {
	color:#fff;
}
#msgbox > div:nth-child(2) span::after {
	content:'：';
}
#submsg {
	height:20%;
	display:flex;
}
#submsg textarea {
	width:80%;
	height:100%;
}
#submsg input {
	width:20%;
	height:103%;
}
.thisuser {
	background:#5EC1F7 !important;
	color:#fff;
}
.tooltip {
    position:fixed;
    top:1rem;
    left:50%;
    transform:translateX(-50%);
    transition:top 1s;
}
